.question {
    background-color: var(--white);
    border-radius: var(--borderRadius);
  }
  
  .question h5 {
    padding: 5px 10px 5px 5px;
  }
  
  .question p {
    background-color: var(--primary-500);
    text-align: start;
    padding: 5px 10px 5px 5px;
  }
  
  .question__header {
    color: #000;
    display: flex;
    justify-content: space-between;
  }