/* REVIEWS PROJECT */
.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.person-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.img-container::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--green-dark);
    position: absolute;
    border-radius: 50%;
    top: -0.25rem;
    right: -0.5rem;
}

.author {
    margin-bottom: 0.5rem;
    color: var(--white);
    text-transform: uppercase;
}

.job {
    text-transform: capitalize;
    color: var(--primary-500);
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    letter-spacing: var(--letterSpacing);
}

.info {
    margin-bottom: 0.75rem;
    line-height: 1.5;
    color: var(--white);
}

.btn-container {
    margin-bottom: 1rem;
}

.prev-btn,
.next-btn {
    margin: 0 0.5rem;
    cursor: pointer;
}