.btn__container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: 40px 0 20px;
}

.btn__filter {
    cursor: pointer;
    background: var(--red-dark);
    color: var(--white);
    padding: 5px 10px;
    box-shadow: var(--shadow-3);
    border: none;
    border-radius: var(--borderRadius);
    transition: var(--transition);
}

.btn__filter:hover {
    background-color: var(--green-dark);
}

.btn__filter.active {
    background-color: var(--green-dark);
}