.header {
  background-color: var(--green-dark);
  box-shadow: var(--shadow-4);
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-300);
  background-color: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primary-500);
  transform: rotate(90deg);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
}

.nav__container {
  overflow: hidden;
  transition: var(--transition);
}

.nav__links li {
  list-style-type: none;
}

.nav__links li a {
  color: var(--green-light);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  display: block;
  padding: 0.8rem 0;
  transition: var(--transition);
  font-weight: 600;
}

.nav__links li a:hover {
  color: var(--primary-400);
  transform: translateX(10px);
}

.logo {
  height: 4em;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--primary-500));
}

button.modal-btn {
  margin: 0 20px;
  padding: 0;
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: bounce 2s ease-in-out infinite;
  transition: var(--transition);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 2em var(--primary-500));
  }

  100% {
    transform: scale(1);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 780px) {
  .nav-header {
    justify-content: start;
  }

  .nav-toggle {
    display: none;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  .nav__container {
    height: auto !important;
  }

  .nav__links {
    display: flex;
    gap: 2rem;
  }

  .nav__links li a {
    padding: 0;
  }

  .nav__links li a:hover {
    transform: translateX(0px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
